.btn {
    font-family: 'Impacted', sans-serif;
    cursor: pointer;
    width: 60px;
    min-width: 50px;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #f47315, #c91e25, #f25c19, #f47315);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    background-size: 400%;
    border-radius: 10px;
    z-index: 1;
    font-size: 0.7rem;
}

.btn:hover {
    animation: animate 8s linear infinite;
    box-shadow: 0 0 15px 0px rgba(244, 115, 21, 0.85);
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.btn:active {
    box-shadow: 0 0 15px 5px rgba(244, 115, 21, 0.85);
}

@media (min-width: 600px) {
    .btn {
        width: 80px;
        min-width: 70px;
        font-size: 0.9rem;
    }
}
