.btn {
    background-color: #f47014;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    padding: 1rem 0.5rem;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn:hover {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.85);
}
