@font-face {
    font-family: 'Holtwood';
    src: url('../../fonts/HoltwoodOneSC-Regular.ttf');
}

@font-face {
    font-family: 'Impacted';
    src: url('../../fonts/impacted.ttf');
}

b {
    color: red;
    font-weight: 500;
}

.header {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #ffffff;
    z-index: 100;
}

.title {
    color: black;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem;
    font-family: 'Holtwood', sans-serif;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: black;
    font-size: 1.1rem;
    margin: 0 1.3rem;
    text-decoration: none;
    font-family: 'Impacted', sans-serif;
    font-weight: bolder;
}

.nav-item:hover {
    color: lightgray;
}

.active-nav-item {
    color: lightgray;
}
