@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

.aboutTitle {
    font-size: 1.2rem;
    margin: 5vh auto;
    width: 100%;
    text-align: center;
    color: rgba(242, 92, 25, 1);
}

.aboutContainer {
    background-image: url('../images/mobile-about-bg.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: fixed;
    font-family: 'Lato', sans-serif;
    margin: 5vh auto 5vh;
    padding-top: 10vh;
    max-width: 1200px;
    width: 90vw;

    .aboutSection {
        display: flex;
        flex-direction: column;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .aboutImage {
            max-width: 300px;
            width: 60%;
            align-self: center;
        }

        p {
            text-align: justify;
            font-size: 0.85rem;
            margin: 3vh 3vw;
        }

        .courses {
            text-align: left;
            font-weight: bold;
            font-size: 14px;

            ul {
                list-style: none;

                p {
                    text-indent: -1.7em;
                    margin-bottom: 0.75em;
                }

                p::before {
                    color: orange;
                    content: '⬖ ';
                    padding-right: 5px;
                }
            }
        }

        @media (min-width: 1000px) {
            .wrapper {
                flex-direction: row;
            }
            .aboutImage {
                margin: 0 3vw;
            }
            p {
                font-size: 0.95rem;
            }
        }
    }

    @media (min-width: 600px) {
        padding-top: 15vh;
        padding-bottom: 15vh;
        width: 80vw;
    }

    @media (min-width: 1100px) {
        background-image: url('../images/desktop-about-bg.svg');
    }
}
