@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

.aboutTitle {
    font-size: 1.2rem;
    margin: 5vh auto;
    width: 100%;
    text-align: center;
    color: rgba(242, 92, 25, 1);
}

.aboutContainer {
    background-image: url('../images/mobile-about-bg.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: fixed;
    font-family: 'Lato', sans-serif;
    margin: 5vh auto 5vh;
    padding-top: 10vh;
    max-width: 1200px;
    width: 90vw;

    .aboutSection {
        display: flex;
        flex-direction: column;

        img {
            max-width: 300px;
            width: 60%;
            margin: 0 20%;
        }

        p {
            text-align: justify;
            font-size: 0.85rem;
        }

        .column {
            padding: 8vw;
        }

        .courses {
            text-align: left;
            font-weight: bold;
            font-size: 14px;

            ul {
                list-style: none;
            }

            li {
                text-indent: -2.7em;
                margin-bottom: 0.75em;
            }

            li::before {
                color: orange;
                content: "⬖   ";
                padding-right: 7vw;

            }
        }

        @media (min-width: 1000px) {
            flex-direction: row;

            .column {
                width: 50%;
                align-self: center;
            }
        }
    }


    @media (min-width: 600px) {
        padding-top: 15vh;
        width: 80vw;
    }

    @media (min-width: 1100px) {
        background-image: url('../images/desktop-about-bg.svg');
    }
}