@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

.container {
    background-image: url('../images/mobile-about-bg.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: fixed;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 5vh auto 5vh;
    padding-top: 10vh;
    max-width: 1200px;
    width: 90vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.9em;

    .contactTitle {
        font-size: 1.2rem;
        margin: 0 auto 5vh;
        width: 100%;
        text-align: center;
        color: rgba(242, 92, 25, 1);
    }

    p {
        width: 90%;
    }

    .map {
        max-width: 700px;
        width: 90%;
        height: 500px;
        iframe {
            border-radius: 10px;
            border: none;
        }
    }

    @media (min-width: 600px) {
        padding-top: 15vh;
        padding-bottom: 15vh;
        width: 80vw;
    }

    @media (min-width: 1100px) {
        background-image: url('../images/desktop-about-bg.svg');
        font-size: 1em;
    }
}
