body,
html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('../images/Desktop.svg');

    /* Full height */
    height: 90vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    justify-content: center;

    section {
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #f47014;
    }
}
