@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}
body,
html {
    height: 100vw;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.parallax {
    background-image: url('../images/mobile-hero.svg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 500px) {
        background-image: url('../images/tablet-hero.svg');
    }
    @media (min-width: 1100px) {
        background-image: url('../images/desktop-hero.svg');
        background-size: cover;
    }
}

.arrows {
    position: fixed;
    bottom: 60px;
    left: 50%;
    z-index: -2;
    height: 50px;
    width: 50px;

    span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(45deg);
        margin: -10px;
        animation: arrows 2s infinite;
    }
    span:nth-child(2) {
        animation-delay: -0.2s;
    }
    span:nth-child(3) {
        animation-delay: -0.4s;
    }
}

@keyframes arrows {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
    50% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}

.home {
    justify-content: center;
    background: url(../images/mobile-index-bg.svg) no-repeat center;
    background-size: contain;
    background-position: fixed;
    padding: 0 10%;

    @media (min-width: 500px) {
        background: url(../images/tablet-index-bg.svg) no-repeat center;
        background-size: contain;
    }

    @media (min-width: 1100px) {
        background: url(../images/desktop-index-bg.svg) no-repeat center;
        background-size: contain;
    }

    .interSection {
        color: white;
        font-size: 0.85rem;
        font-weight: 700;
        margin: 5vh auto;
        padding: 25px 25px;
        text-align: justify;
        border: 1px solid rgba(244, 115, 21, 0.5);
        background-color: rgba(242, 92, 25, 0.85);
        border-radius: 5px;
        max-width: 800px;

        @media (min-width: 500px) {
            font-size: 0.9rem;
        }
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4% 0;

        @media (min-width: 500px) {
            background-position: center;
            min-height: 50vh;
            flex-direction: row;
        }
    }
}
