body,
html {
    height: 100vw;
}

.parallax {
    /* The image used */
    background-image: url('../images/smaller3.svg');

    /* Full height */
    height: 90vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    justify-content: center;

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #f47014;
    }

    @media (min-width: 500px) {
        section {
            background: url('../images/lineBackground.svg');
            background-size: cover;
            background-position: center;
            height: 90vh;
            flex-direction: row;
        }
    }
}
