@font-face {
    font-family: 'Lato';
    src: url('../../../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Impacted';
    src: url('../../../fonts/Impacted.ttf');
}

.ElementContainer {
    font-family: 'Lato';
    margin: 20px 5%;
}

.ElementTitle {
    font-family: 'Impacted', sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(244, 115, 21, 0.5);
    margin-bottom: 20px;
}

.ElementContent {
    font-size: 0.9rem;
    text-align: justify;
}
