@font-face {
    font-family: 'Lato';
    src: url('../../../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Impacted';
    src: url('../../../fonts/Impacted.ttf');
}

.ElementContainer {
    font-family: 'Lato';
    margin: 10px 0;
}

.ElementTitle {
    font-family: 'Impacted', sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(244, 115, 21, 0.5);
    margin-bottom: 20px;
}

.ElementContent {
    font-size: 0.9rem;
    background-color: rgba($color: #fff, $alpha: 0.2);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: 10px;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .ElementContent {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
